.env
.DS_Store
node_modules/
dist/
build/
target/
.mvn/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
.pytest_cache/
__pycache__/
*.pyc
*.log
storage/faces/*
storage/snapshots/*
!storage/faces/.gitkeep
!storage/snapshots/.gitkeep
infra/model_repository/**/1/*
!infra/model_repository/**/1/.gitkeep
